<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap"
            rel="stylesheet"
        />
        <style>
            * {
                font-family: 'Sarabun', sans-serif;
            }
        </style>
    </head>
    <body>
        <table style="width: 100%">
            <tr>
                <td style="text-align: right; padding: 0.5em;">
                    <img
                        src="https://www.horwang.ac.th/logo_horwang.png"
                        style="height: 3cm; display: inline-block"
                    />
                </td>
                <td style="text-align: center; padding: 0.5em;">
                    <h2> ใบสมัครสำหรับศึกษาต่อในระดับมัธยมศึกษาตอนปลาย </h2>
                    <h3>
                        สำหรับนักเรียนชั้นมัธยมศึกษาปีที่ 3 เดิมจากโรงเรียนหอวัง
                        <br />
                        ปีการศึกษา 2565
                    </h3>
                </td>
                <td>
                    <div style="border: 1px solid; width: 4cm;aspect-ratio: 0.7648184;">
                        <span style="display:block;padding: 1.5cm 20px;text-align: center;">รูปภาพนักเรียนขนาด 2 นิ้ว</span>
                    </div>
                </td>
            </tr>
            
        </table>
    </body>
</html>
